{% extends 'admin/base.html.twig' %}

{% block wrapper %}

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="text-primary m-0"><i class="fas fa-school"></i> Classe</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('classe') }}">Retour</a></li>
              <li class="breadcrumb-item active">affichget</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  {% endblock %}
{% block body %}
<div class="container py-4">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card card-primary">
				<div class="card-header text-center"><h4>Modification </h4></div>
						<div class="card-body">
														
							<p>
							{{form_start(form)}}

		                    {{ form(form) }}

	                        {{form_end(form)}}
							</p>
							
						</div>			
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}