
{% extends 'base.html.twig' %}

{% block title %}NewBeneficiaire!{% endblock %}


{% block body %}

	
	
<div class="row ">
	<div >
	<a href="{{ path('list_beneficiaire') }}" class=" float-end btn btn-primary  active my-3" role="button" title="Lien 1">Listes des bénéficiaires</a>
    </div>
</div>	

<div class="row my-5">
	<div class="col-6 mx-auto">
	<h1 class='text-info display-4 my-5 text-center'>ENREGISTREMENT DES BENEFICIAIRES</h1>
	 
		{{form_start(form)}}

		{{ form(form) }}

		<!--<button type="submit" class="btn btn-primary w-100">Valider</button>-->


	{{form_end(form)}}
    </div>
</div>	

{% endblock %}
