{% extends "dashboards/base.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
<body class="hold-transition sidebar-mini layout-fixed">
        

    <div class="wrapper">

        <!-- Preloader -->
        {% include "dashboards/partials/preloader.html.twig" %}
        <!-- /.Preloader -->

        <!-- Navbar -->
        {% include "dashboards/partials/navbar.html.twig" %}
        <!-- /.Navbar -->

        <!-- Main Sidebar Container -->
        {% include "dashboards/partials/main_sidebar.html.twig" %}
        <!-- /.Main Sidebar Container -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% block main %}{% endblock %}
        </div>
        <!-- /.content-wrapper -->

        <!-- Footer -->
        {% include "dashboards/partials/footer.html.twig" %}
        <!-- /.Footer -->

    </div>

</body>

{% endblock %}