{% extends 'admin/base.html.twig' %}

{% block wrapper %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Ajout de beneficiaire</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('list_beneficiaire') }}">Retour</a></li>
              <li class="breadcrumb-item active">beneficiaire</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  {% endblock %}
    
       
{% block body %}	


	<div class="container py-4">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card card card-info">
				<div class="card-header text-center"><h3>Enregistrement d'un bénéficiaire</h3></div>
						<div class="card-body">
	 
		{{form_start(form)}}

		{{ form(form) }}


	{{form_end(form)}}
           </div>			
				</div>
			</div>
		</div>
	</div>
</div>	

{% endblock %}
